<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 任务执行器的线程池 -->
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="keepAliveSeconds" value="60" />
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="50" />
	</bean>
	
	<!-- 定时任务的工作类 -->
	<bean id="quartzJob" class="com.itstack.task.service.impl.TaskServiceImpl">
		<property name="taskExecutor" ref="taskExecutor" />
	</bean>
	
	<!-- 定义生成工作对象的工厂，并为工厂设定目标对象targetObject属性、目标对象的工作方法targetMethod属性 -->
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="quartzJob" />
		<property name="targetMethod">
			<value>execute</value>
		</property>
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- 任务调度计时器，进行定时设置。CronTriggerBean能进行非常精确的定时设置 -->
	<bean id="cronQuartzClock" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail" />
		<!-- cron表达式 -->
		<property name="cronExpression">
			<!--   0 0 */2 * * ? 每两小时、整点触发 -->
			<!--   0 0/2 * * * ? 每两分钟  -->
			<!--   0/5 * * * * ? 每五秒钟  -->
			<!--   0 15 10 * * ? 每天Y分X点触发  -->
			<value>0/5 * * * * ?</value>
		</property>
	</bean>
	
	<!-- 调度任务触发器，启动定时任务-->
	<bean autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronQuartzClock" />
			</list>
		</property>
		<property name="autoStartup">
            <value>false</value>
        </property>
	</bean>

</beans>